
body{
    background-color:#411b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.Color-Picker{
     width: 500px;
     height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
     
    box-shadow:  0 0 20px rgba(0,0,0,0.3);
    font-family: arial;
    
}
.Color-Div{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid;
    border-radius: 40%;
    font-family: Arial;
    border-top : 6px solid rgb(234, 173, 6);
    border-bottom: 6px solid #860e82;
    border-left: 3px solid #11e896;
     border-right:3px solid #13d0e4ca;
     animation-name: Color-Div;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
     animation-delay: 0.0s; 
     animation-direction:normal;  
}

@keyframes Color-Div{
     form{
        transform: rotate(0deg);
     }
     to{
        transform: rotate(360deg);
     }
}
.footer{
    width: 100%;
    height: 30px;
    background-color: rgb(35, 28, 28);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11px;
    
    position: absolute;
    left:0px;
    bottom: 0px;
}
.color{
    border: 1px solid;
    border-radius: 5px;
}

/* .main{
    position: relative;
} */
